<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ttplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/nc_default_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name="com.example.ttplayer.activity.First"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.Index"
            android:configChanges="orientation|keyboard" 
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.Login"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.ShouFa"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.Netmusic"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.Play"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.DingZhi"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.TabHo"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.Mymusic"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.Myfav"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.ttplayer.activity.Pager44"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <service android:name="com.example.ttplayer.service.PlayService"></service>
        
        <receiver android:name="com.example.ttplayer.service.NotifiReceiver">
            <intent-filter >
                <action android:name="com.exmple.ttplayer.ntf_pre"/>
                <action android:name="com.exmple.ttplayer.ntf_play"/>
                <action android:name="com.exmple.ttplayer.ntf_next"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>